@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap");
@import "./shared.css";

:root {
	--color-background: #efdb4f;
	--color-foreground: #323330;
	--font-size-large: 1.5rem;
	--font-size-larger: 2rem;
	--font-size-medium: var(--font-size-large);
	--font-size-title: 7rem;
	--font-weight-light: 400;
	--font-weight-medium: 600;
	--font-weight-large: 700;
	--font-weight-larger: 700;
	--font-weight-title: 900;
	--line-height-medium: 1.5rem;
	--line-height-title: 5.5rem;
	--width-main-max: 150rem;
}

@media screen and (width >= 1000px) {
	:root {
		--font-size-large: 2rem;
		--font-size-larger: 4rem;
		--font-size-title: 12rem;
		--line-height-medium: var(--font-size-medium);
		--line-height-title: 9rem;
	}
}

@media screen and (width >= 1400px) {
	:root {
		--font-size-large: 3rem;
		--font-size-larger: 5rem;
		--font-size-title: 15rem;
		--line-height-title: 12rem;
	}
}

* {
	box-sizing: border-box;
}

body,
html {
	border: 0;
	height: 100%;
	margin: 0;
	width: 100%;
}

body {
	background: var(--color-background);
	font-family: "League Spartan", monospace;
	overflow: overlay;
}

body,
:link,
:visited {
	color: var(--color-foreground);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

::selection {
	background: var(--color-foreground);
	color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #323330;
		--color-foreground: #efdb4f;
	}
}
