@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap");

:root {
	--width-main-max: 150rem;
}

@media screen and (width >= 700px) {
	:root {
		--padding-page: 2rem;
	}
}

* {
	box-sizing: border-box;
}

body,
html {
	border: 0;
	height: 100%;
	margin: 0;
	width: 100%;
}

body {
	background: var(--color-background);
	font-family: "League Spartan", monospace;
	font-smooth: smooth; /* stylelint-disable property-no-unknown */
	-webkit-font-smoothing: antialiased;
	overflow: overlay;
}

body,
:link,
:visited {
	color: var(--color-foreground);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

::selection {
	background: var(--color-foreground);
	color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #323330;
		--color-foreground: #efdb4f;
	}
}
