@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap");

body,
html {
	border: 0;
	height: 100%;
	margin: 0;
	width: 100%;
}

body {
	font-family: "League Spartan", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #323330;
		--color-foreground: #efdb4f;
	}
}
