/*
TODO: WE WILL CHOOSE A MORE COMPONENT-ORIENTED STYLING SOLUTION!

Don't come at us with your annoying CSS-in-JS/Tailwind/whatever hot takes.
We know they exist. We've seen them. We've used them. They're all subpar.

We want a styling solution with...
* ...design systems token support
* ...longevity (i.e. is used in multiple reputable repos)
* ...minimal runtime performance bloat
* ...responsive type safe CSS-in-JS props

Let us know if you think you've found one we'd like. 😏
*/

/* Shared */

.larger {
	font-size: var(--font-size-larger);
	font-weight: var(--font-weight-larger);
}

.large {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-large);
}

.medium {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-medium);
}

.smaller {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-small);
}

.body-text {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-light);
	line-height: var(--line-height-medium);
}

/* Events */

.events-year {
	list-style-type: none;
	padding: 0;
}

.events-year-list + .events-year-list {
	margin-top: 5rem;
}

.events-year-heading {
	font-size: var(--font-size-larger);
	font-weight: var(--font-weight-larger);
}

.events-year-events-list {
	padding: 0;
}

/* Calendar Subscription */

.calendar-subscription {
	font-size: var(--font-size-small);
}

.calendar-subscription button {
	background: var(--color-background);
	border: 2px solid var(--color-foreground);
	border-radius: 1em;
	color: var(--color-foreground);
	cursor: pointer;
	font-size: var(--font-size-smaller);
	margin: 1em 0;
	padding: 0.5em;
	text-align: left;
	width: auto;
}

.calendar-subscription a {
	text-decoration: underline;
}

.calendar-subscription p {
	margin-top: 0.5em;
}

@media screen and (width >= 1000px) {
	.calendar-subscription button {
		margin-top: 0;
	}
}

/* Icons */

.icons {
	list-style-type: none;
	margin-top: 3rem;
	padding: 0;
}

.icon-list + .icon-list {
	margin-top: 3rem;
}

.icon {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
}

.icon-info {
	flex: 1 0 50%;
}

.icon-info > * + * {
	margin-top: 0.5rem;
}

/* Sponsors */

.sponsor-cta > a {
	text-decoration: underline;
}

.sponsor-image {
	height: 10rem;
	width: 10rem;
}

/* Join Us */

.platform-image {
	width: 5rem;
}
