/*
TODO: WE WILL CHOOSE A MORE COMPONENT-ORIENTED STYLING SOLUTION!

Don't come at us with your annoying CSS-in-JS/Tailwind/whatever hot takes.
We know they exist. We've seen them. We've used them. They're all subpar.

We want a styling solution with...
* ...design systems token support
* ...longevity (i.e. is used in multiple reputable repos)
* ...minimal runtime performance bloat
* ...responsive type safe CSS-in-JS props

Let us know if you think you've found one we'd like. 😏
*/

/* Shared */

.larger {
	font-size: var(--font-size-larger);
	font-weight: var(--font-weight-larger);
}

.large {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-large);
}

.medium {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-medium);
}

.body-text {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-light);
	line-height: var(--line-height-medium);
}

:is(.body-text, .large, .larger, .medium)
	+ :is(.body-text, .large, .larger, .medium) {
	margin-top: 1em;
}

/* Arrows */

.arrow {
	margin: 0;
}

.arrow-back {
	height: 0.7em;
	margin-left: 0.1em;
	width: 0.7em;
}

.arrow-out {
	height: 1em;
	margin-bottom: -0.1em;
	margin-left: 0.1em;
	width: 1em;
}

/* EventDetails */

.event-details {
	margin: 1.5rem 0;
}

.event-details-light {
	font-weight: var(--font-weight-light);
}

.event-details + .event-details {
	margin-top: 3rem;
}

.event-details-date {
	font-size: var(--font-size-large);
	margin-bottom: 1rem;
}

.event-details-topics {
	margin: 2rem 0 1rem;
}

.event-details-topic {
	margin: 0.25em 0;
}

/* PageGrid */

.page-grid {
	display: grid;
	grid-gap: 0 4rem;
	grid-template-areas:
		"header"
		"left"
		"footer";
	grid-template-columns: minmax(100%, 1fr);
	grid-template-rows: minmax(min-content, max-content);
	height: 100%;
	margin: auto;
	padding: 2rem;
	position: relative;
	width: 100%;
}

.page-grid-header {
	display: flex;
	flex-direction: column;
	grid-area: header;
}

.page-grid-title {
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
	line-height: var(--line-height-title);
	margin: 0;
	padding: 0;
}

.page-grid-subtitle {
	font-size: var(--font-size-larger);
	font-weight: var(--font-weight-title);
	line-height: var(--line-height-larger);
	text-transform: uppercase;
}

.page-grid-left {
	grid-area: left;
}

.page-grid-footer {
	align-content: flex-end;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-large);
	grid-area: footer;
	height: 100%;
	justify-content: flex-start;
}

.page-grid-footer-separator {
	flex-basis: 100%;
}

.page-grid-footer-link {
	padding: 0;
}

.page-grid-footer-link:not(
		:first-of-type,
		.page-grid-footer-separator + .page-grid-footer-link
	)::before {
	background: var(--color-foreground);
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 0.3em;
	margin: 0 0.5em 0.15em;
	position: relative;
	width: 0.3em;
}

@media (width >= 1000px) {
	.page-grid {
		grid-template-columns: minmax(40%, 1fr) 1fr;
	}

	.page-grid-header,
	.page-grid-footer {
		position: fixed;
		right: 2rem;
		width: 50%;
	}

	.page-grid-header {
		text-align: right;
		top: 2rem;
		z-index: 1;
	}

	.page-grid-footer {
		align-self: flex-end;
		justify-content: flex-end;
	}

	.page-grid-left {
		padding-bottom: 2rem;
	}
}

/* About */

.about-page-text {
	font-size: var(--font-size-small);
	margin: 1rem 0 2rem;
}

.about-page-text a {
	text-decoration: underline;
}

/* Events */

.events-year {
	list-style-type: none;
	padding: 0;
}

.events-year-list + .events-year-list {
	margin-top: 5rem;
}

.events-year-heading {
	font-size: var(--font-size-larger);
	font-weight: var(--font-weight-larger);
}

.events-year-events-list {
	padding: 0;
}

/* Ad page */

.ad-main {
	align-items: center;
	background: var(--color-foreground);
	color: var(--color-background);
	display: flex;
	flex-direction: column;
	gap: 4rem;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.ad-img {
	height: min(50vw, 50vh);
	width: min(50vw, 50vh);
}

.ad-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

.ad-text h1 {
	font-size: 5rem;
	font-weight: var(--font-weight-title);
	line-height: 0.85;
	margin: 0 15vw;
	text-transform: uppercase;
}

.ad-text p {
	font-size: var(--font-size-larger);
	font-weight: 700;
}

@media screen and (width >= 700px) {
	.ad-main {
		flex-direction: row;
		gap: 2rem;
		justify-content: center;
		padding: 2rem;
	}

	.ad-img-area {
		text-align: right;
		width: 50%;
	}

	.ad-img {
		height: 40vh;
		width: 40vh;
	}

	.ad-text {
		text-align: left;
		width: 50%;
	}

	.ad-text h1 {
		margin: 0;
	}
}

@media screen and (width >= 1000px) {
	.ad-text {
		align-content: flex-start;
	}

	.ad-text h1 {
		font-size: 7rem;
	}
}

@media screen and (width >= 1400px) {
	.ad-img {
		height: 50vh;
		width: 50vh;
	}

	.ad-text h1 {
		font-size: 10rem;
	}
}
